.home-header-container {
  height: 60px;
  width: 80%;
  margin: 0 auto;

  .home-header-content {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 20px;
    .left-content {
      width: 25%;
      display: flex;
      align-items: center;
      i {
        font-size: 25px;
        color: gray;
        cursor: pointer;
      }

      .header-logo {
              height: 100%;
        width: 100%;
        cursor: pointer;
        transform: scale(0.5, 0.5);
        margin-left: -30%;
      }
    }
    .center-content {
      width: 60%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .child-content {
        .subs-title {
          font-size: 14px;
        }
      }
    }
    .right-content {
      width: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-around;
      padding-left: 7%;
      .language-vi{
        span{
          opacity: 0.2;
          cursor: pointer;
          color: rgb(0, 0, 0);
          &:hover{
            opacity: 1;
          }
        }
        &.active{
          span{
            opacity: 1;
            color: red;
          }
        }
      }
      .language-en{
        span{
          opacity: 0.2;
          cursor: pointer;
          color: rgb(0, 0, 0);
          &:hover{
            opacity: 1;
          }
        }
        &.active{
          span{
            opacity: 1;
            color: red;
          }
        }
      }
    
    }
  }
}

.home-header-banner {
  // background-image:;
  background: url("../../assets/header-backround.jpg");
  background-size: cover;
  height: 780px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  .content-up {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(255, 255, 255, 0.1)
    );
    height: 70%;

    .title1 {
      text-align: center;
      font-size: 4vh;
      text-shadow: 1px 1px 1px #333;
      margin-top: 12vh;
      color: white;
    }
    .title2 {
      text-align: center;
      font-size: 4.4vh;
      text-shadow: 1px 1px 1px #333;
      color: white;
      margin-top: 1.1vh;
    }
    .search {
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding: 10px;
      // width: 400px;
      border-radius: 25px;
      background: #f7d800;
      margin-top: 15px;
      i {
        margin: 0 5px;
      }
      input {
        height: 30px;
        width: 44vh;
        background: transparent;
        border: none;
        outline: none;
      }
    }
  }
  .content-dow {
    height: 35%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-content: space-between;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 1)
    );

    .optines {
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      // margin: 0 14%;
      width: 70%;

      .option-child {
        width: 100px;
        .icon-child {
          background: white;
          width: 40px;
          height: 40px;
          padding: 10px;
          border-radius: 50%;
          text-align: center;
          margin: 0 auto;
          i {
            color: #49bce2;
            font-size: 20px;
          }
        }
        .text-child {
          font-size: 15px;
          font-weight: 550;

          &:hover {
            color: #49bce2;
            cursor: pointer;
          }
        }
      }
    }
  }
}
