.home-header-container {
  height: 60px;
  border: 1px solid red;
  width: 100%;

  .home-header-content {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 20px;
    .left-content {
      width: 25%;
      border: 1px solid green;
      display: flex;
      align-items: center;
      i {
        font-size: 25px;
        color: gray;
        cursor: pointer;
      }
      .header-logo {
        background: url("../../assets/logo.svg") center center no-repeat;
        height: 100%;
        width: 100%;
        cursor: pointer;
      }
    }
    .center-content {
      width: 50%;
      border: 1px solid rgb(234, 242, 5);
      display: flex;
      justify-content: space-between;
      align-items: center;
      .child-content {
        .subs-title {
          font-size: 14px;
        }
      }
    }
    .right-content {
      width: 25%;
      border: 1px solid rgb(74, 10, 191);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.home-header-banner {
  background: url("../../assets/header-backround.jpg");
  background-size: cover;
  height: 78vh;
  border: 2px solid red;
  background-repeat: no-repeat;
  background-position: center;
padding: 15px 0;
display: flex;
flex-direction: column;
.content-up{
    border: 3px solid red;
    height: 50%;

    .title1 {
      text-align: center;
      font-size: 3vh;
      text-shadow: 1px 1px 1px #333;
      margin-top: 10vh;
      color: white;
    }
    .title2 {
      text-align: center;
      font-size: 34px;
      text-shadow: 1px 1px 1px #333;
      color: white;
      margin-top: 1.1vh;
    
    }
    .search {
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding: 10px;
      // width: 400px;
      border-radius: 25px;
      background: #f7d800;
      margin-top: 15px;
      i{
          margin: 0 5px;
      }
      input{
          height: 30px;
          width: 44vh;
          background: transparent;
          border: none;
          outline: none;
      }
    }
}
.content-dow{
    height: 50%;
    border: 3px solid rgb(60, 0, 255);

    .optines {

        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 10%;
        margin-top: 12%;
        .option-child{
            border: 1px solid red;
            width: 100px;
            .icon-child{
                background: white;
                width: 40px;
                height: 40px;
                padding: 10px;
                border-radius: 50%;
                text-align: center;
                margin: 0 auto;
                i{
                    color: #49bce2;
                    font-size: 20px;
                }
           
            }
            .text-child{
                font-size: 15px;
                font-weight: 550;
    
                &:hover {
                    color: #49bce2;
                    cursor: pointer;
                }
                
            }
        }
    }
}
}
